<p>
	<a><%= link_to "Home", '/home' %></a>&nbsp;&nbsp;::&nbsp;&nbsp;
	<a><%= link_to "About Us", '/about' %></a>&nbsp;&nbsp;::&nbsp;&nbsp;
	<a><%= link_to "Contact Us", '/contact' %></a>&nbsp;&nbsp;::&nbsp;&nbsp;
	<a><%= link_to "Privacy", '/privacy' %></a>
</p>

<div id="copyright">
	Webmaster: <script type="text/javascript">
	<!--
		// protected email script by Joe Maller. JavaScripts available at http://www.joemaller.com
		// this script is free to use and distribute but please credit me and/or link to my site
		emailE=('anneroseberndt' + '@gmail.com')
		document.write('<a href="mailto:' + emailE + '">' + 'The Life Science Group' + '</a>')
	//-->
	</script>&nbsp;&nbsp;Copyright 2013 
	<a><%= link_to "The Life Science Group", '#' %></a>
	<br />
	<br />
</div>